<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/editMail')}");
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">更换手机</h2>
			<div class="content">	
				<div class="content-l">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">当前</h3>
					  </div>
					  <div class="panel-body">
					  		<dl class="dl-horizontal">
								  <dt>帐号:</dt>
								  <dd><span class="label label-info" style="font-size:18px;">600777</span></dd>
								  <dt>
								  	 电邮：	
								  </dt>
								  <dd>
								  	 <div class="form-inline">
									     <input type="text" class="form-control" disabled="disabled" value="1567688398@qq.com">
								     </div>
								  </dd>
							</dl>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">更改后</h3>
					  </div>
					  <div class="panel-body">
					  	<dl class="dl-horizontal">
							  <dt>
							  	 新的电邮:	
							  </dt>
							  <dd>
							  	 <div class="form-inline">
								     <input type="text" class="form-control" placeholder='输入新的电邮'>
							     </div>
							  </dd>
						</dl>
					  </div>
					</div>
					<div style="width: 30%;margin:40px auto;">
						<button type="button" class="btn btn-success btn-block">确认并提交</button>
					</div>
				</div>
			</div><!--content-->	
		</div>		
	</div>		
</body>
</html>