<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/editInvestorPass')}");
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">投资人密码</h2>
			<div class="content">	
				<div class="alert alert-info alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>提示:</strong> 投资人密码用于交易客户端的登陆（仅限数据查看）
				</div>
				<div class="content-l">
					<form class="form-horizontal" role="form">
						<div class="form-group">
					    	<label class="col-sm-2 control-label">帐号：</label>
					    	<div class="col-sm-4">
					    		<p class="form-control-static"><span class="label label-default">600777</span></p>
					    	</div>  
					    </div>
					    <div class="form-group">
					    	<label class="col-sm-2 control-label">新的密码：</label>
					    	<div class="col-sm-4">
					    		<input type="text" class="form-control" placeholder="请输入密码">
					    	</div>   
					    </div>
					    <div class="form-group">
					    	<label class="col-sm-2 control-label">再输一次：</label>
					    	<div class="col-sm-4">
					    		<input type="text" class="form-control" placeholder="请重新输入密码">
					    	</div>				        
					    </div>
					    <div class="form-group" style="width: 30%;margin:40px auto;">
							<button type="button" class="btn btn-success btn-block">确认并提交</button>
						</div>
					</form>
					
				</div>
			</div><!--content-->	
		</div>		
	</div>		
</body>
</html>
