<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/editInvestorPass')}");
			$("#pas1").blur(function(){
		      	var temp = $(this).val().match(/[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/);
		        if(!$(this).val() || !temp)
		        {
		            $("#pas1Tip").html("密码不能为空且只能为英文或者数字");
		            $("#pas1Tip").removeClass('label label-success');
		            $("#pas1Tip").addClass('label label-warning');
		        }
		        else
		        {
		            $("#pas1Tip").html("输入正确");
		            $("#pas1Tip").removeClass('label label-warning');
		            $("#pas1Tip").addClass('label label-success');
		        }

		     });
		     $("#pas2").blur(function(){
		        if(!$(this).val() || $(this).val() != $("#pas1").val())
		        {
		            $("#pas2Tip").html("密码为空或者和上面的密码不致");
		            $("#pas2Tip").removeClass('label label-success');
		            $("#pas2Tip").addClass('label label-warning');
		        }
		        else
		        {
		            $("#pas2Tip").html("输入正确");
		            $("#pas2Tip").removeClass('label label-warning');
		            $("#pas2Tip").addClass('label label-success');
		            //验证通过后提交
		            $('#submit').bind('click',function(){
		            	layer.confirm('确定修改密码？',function(){
		            		var editInvestorPassUrl = "{:U('Home/Account/editInvestorPass')}";
							var getpwd = $("#pas2").val();
				    		ajaxReturn(editInvestorPassUrl,{getpwd:getpwd},function(){},function(res){
								if(res.status){
									layer.alert('修改成功',{icon:1});
									window.location.reload();
								}else{
									layer.alert('修改失败',{icon:2});
								}
							});
		            	});	
			    	});
		        }
		    });
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">投资人密码</h2>
			<div class="content">	
				<div class="alert alert-info alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>提示:</strong> 投资人密码用于交易客户端的登陆（仅限数据查看）
				</div>
				<div class="content-l">
					<form class="form-horizontal" role="form">
						<div class="form-group">
					    	<label class="col-sm-2 control-label">帐号：</label>
					    	<div class="col-sm-4">
					    		<p class="form-control-static"><span class="label label-info" style="font-size:18px;">600777</span></p>
					    	</div>  
					    </div>
					    <div class="form-group">
					    	<label class="col-sm-2 control-label">新的密码：</label>
					    	<div class="col-sm-4">
					    		<input type="password" class="form-control" id="pas1" placeholder="新密码必须包含数字和字母"><label id="pas1Tip"></label>
					    	</div>   
					    </div>
					    <div class="form-group">
					    	<label class="col-sm-2 control-label">再输一次：</label>
					    	<div class="col-sm-4">
					    		<input type="password" class="form-control" id="pas2" placeholder="请重新输入密码"><label id="pas2Tip"></label>
					    	</div>				        
					    </div>
					    <div class="form-group" style="width: 30%;margin:40px auto;">
							<button type="button" id="submit" class="btn btn-success btn-block">确认并提交</button>
						</div>
					</form>
					
				</div>
			</div><!--content-->	
		</div>		
	</div>		
</body>
</html>
