<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/editMail')}");
			$('#submit').bind('click',function(){
				//接口
				$("#error").hide();
				var error = "<label id=\"error\" class=\"validate_input_error\">邮箱格式不正确</label>";
				var editMailUrl = "{:U('Home/Account/editMail')}";
				var getemail = $.trim($("input[name='newemail']").val());
				if(!valid_email(getemail)){
					$("input[name='newemail']").after(error);  
		            $("input[name='newemail']").focus();
		            $("input[name='newemail']").val('');  
		            return false;
				}
				ajaxReturn(editMailUrl,{getemail:getemail},function(){},function(res){
					if(res.status){
						layer.alert('修改成功',{icon:1});
						window.location.reload();
					}else{
						layer.alert('修改失败',{icon:2});
					}
				});
			});
			function valid_email(getemail) {
 // var patten = new RegExp(/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]+$/);
				var patten = new RegExp(/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+(com|cn)$/);
			  	return patten.test(getemail);
			 }
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">更换手机</h2>
			<div class="content">	
				<div class="content-l">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">当前</h3>
					  </div>
					  <div class="panel-body">
					  		<dl class="dl-horizontal">
								  <dt>帐号:</dt>
								  <dd><span class="label label-info" style="font-size:18px;">600777</span></dd>
								  <dt>
								  	 电邮：	
								  </dt>
								  <dd>
								  	 <div class="form-inline">
									     <input type="text" class="form-control" disabled="disabled" value="{$nowemail}">
								     </div>
								  </dd>
							</dl>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">更改后</h3>
					  </div>
					  <div class="panel-body">
					  	<dl class="dl-horizontal">
							  <dt>
							  	 新的电邮:	
							  </dt>
							  <dd>
							  	 <div class="form-inline">
								     <input type="text" class="form-control" name="newemail" placeholder='输入新的电邮'>
							     </div>
							  </dd>
						</dl>
					  </div>
					</div>
					<div style="width: 30%;margin:40px auto;">
						<button type="button" id="submit" class="btn btn-success btn-block">确认并提交</button>
					</div>
				</div>
			</div><!--content-->	
		</div>		
	</div>		
</body>
</html>