<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
<script src="__JS__/account_index.js"></script>
	<script>
		var getAccountInfoUrl = "{:U('Home/Account/getAccountInfo')}";
		$(function(){
			highlight_subnav("{:U('Home/Account/index')}");
			Account.init();
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">我的账户</h2>
			<div class="content">
				<div class="dl-in">
					<dl class="dl-horizontal">
					  <dt>帐号:</dt>
					  <dd>{:session('uname')}</dd>
					  <dt>杠杆:</dt>
					  <dd id="ganggan">1：100</dd>
					  <dt>资产:</dt>
					  <dd>余额：$8,286.44净值：$8,286.44保证金：$0.00可用保证金：$8,286.44</dd>
					  <dt>开户日期:</dt>
					  <dd>2015-10-23</dd>
					  <dt>推广链接:</dt>
					  <dd>http://manage.briskliquidity.nz/apply/real.html?agent=600777</dd>
					</dl>
					<dl class="dl-horizontal">
					  <dt>姓名:</dt>
					  <dd>asfdasdfa asdfasdf</dd>
					  <dt>同名账户:</dt>
					  <dd>1 个</dd>
					  <dt>手机:</dt>
					  <dd>2342423</dd>
					  <dt>电邮:</dt>
					  <dd>asdfasdf@qq.com</dd>
					</dl>
				</div>
				
				<div class="x-color-panel x-balance-panel">
					<label>资产</label>
					<div>
						<span>余额</span><strong field="memberBalance">$8,286.44</strong>
					</div>
					<div>
						<span>净值</span><strong field="memberEquity">$8,286.44</strong>
					</div>
					<div>
						<span>保证金</span><strong field="memberMargin">$0.00</strong>
					</div>
					<div>
						<span>可用保证金</span><strong field="memberMarginfree">$8,286.44</strong>
					</div>
				</div>
				<div style="clear: both;"></div>
				<h3 class="bankinfo-title">银行卡资料
					<button type="button" class="btn btn-warning " id="addCard" style="margin:auto auto 10px 85%;">
						<span class="glyphicon glyphicon-plus-sign"></span>添加
					</button>
				</h3>
				<div name="myBankList">
					<div class="x-grid-panel">
						<if condition="count($list) gt 0">
							<table name="table" class="x-grid">
								<thead>
									<tr>
										<th class="x-grid-column w24">发卡银行</th>
										<th class="x-grid-column">银行户名-帐号</th>
										<th class="x-grid-column w15 x-text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="vo">
										<tr class="x-data-item">
											<td class="x-grid-cell">
												<div class="relative">
													<label class="bank-icon {$vo.bankicon}">{$vo.bankicon|getBankName=###}</label><div class="x-right mt5"><a url="{$vo.cardpositiveurl|ltrim=###,'.'}" class="x-label showcard">正</a><a url="{$vo.cardnegativeurl|ltrim=###,'.'}" class="x-label showcard">反</a></div>
												</div>
											</td>
											<td class="x-grid-cell x-font-22">{$vo.bankaccount}</td>
											<td class="x-grid-cell x-text-center">
												<div class="x-button-group">
													<button class="btn btn-default radius" type="button">更改</button>
													<button class="btn btn-danger radius" type="button">删除</button>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						<else/>
							<h3>您暂时还没有添加任何银行卡<h3>
						</if>
					</div>
				</div>
			</div>
		</div>		
	</div>

<div class="panl" style="display:none" id="panl-two">
	<dl class="dl-horizontal">
	    <dt>币种：</dt>
	    <dd id="mm-type">
	  		<span class="money-type type-current">
	  			<span class="glyphicon glyphicon-yen icon"></span>
	  			<span class="type-icon ">CNY</span>
	  			<i></i>
	  		</span>
	  		<span class="money-type">
	  			<span class="glyphicon glyphicon-usd icon"></span>
	  			<span class="type-icon ">USD</span>
	  			<i></i>
	  		</span>
	    </dd>
	    <dt>发卡银行：</dt>
	    <dd>
	  		<div class="form-inline">
	  		  <div class="form-group">
			    <select name="" id="bank" class="form-control"></select>
			  </div>
			  <div class="form-group">
			    <input type="text" name="area" class="form-control" placeholder="区域/城市">
			  </div>
			  <div class="form-group">
			    <input type="text" name="zhibank" style="width:300px;" class="form-control" placeholder="支行名称">
			  </div>
			</div>
	    </dd>
	    <dt>账户：</dt>
	    <dd>
	  		<div class="form-inline">
			  <div class="form-group">
			    <input name="account" type="text" class="form-control" placeholder="户名">
			  </div>
			  <div class="form-group">
			    <input name="accountNo" type="text" style="width:300px;" class="form-control" placeholder="银行帐号">
			  </div>
			</div>
	    </dd>
	    <dt>上传银行卡：</dt>
	    <dd>
	    	<div id="uploader-demo">
		  		<span class="bankcard">
		  			<div class="card-box zheng" id="fileList1">

					</div>
					<div class="card-op">
						<div id="picker1"></div>
						<span url="__IMG__/bankCardFront.png" class="suchas">示例</span>
					</div>
					
		  		</span>
		  		<span class="bankcard">
		  			<div class="card-box fan" id="fileList2">
		  				
					</div>
					<div class="card-op">
						<div id="picker2"></div>
						<span url="__IMG__/bankCardNegative.png" class="suchas">示例</span>
					</div>
		  		</span>
		  	</div>
	    </dd>
	    <dt>出金金额：</dt>
	    <dd>
	    	<div class="form-inline">
			   <div class="form-group">
				    
				    <div class="input-group">
				      <input name="money" type="text" class="form-control" placeholder="出金金额">
				      <div class="input-group-addon">USD</div>
				    </div>
				</div>
			  <div class="form-group">
			   <label for="">当前账户余额 $7,031.55</label>
			  </div>
			</div>
	    </dd>
	    <dd>
	    	<a id="drawal" class="btn btn-success radius btn-lg">确认并提交</a>
	    </dd>
	</dl>
</div>		
</body>
</html>