<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
<!--引入webuploader-->
<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css">
<script type="text/javascript" src="__STATIC__/webuploader/webuploader.js"></script>

<script src="__JS__/addBankCard.js"></script>
<script src="__JS__/account_index.js"></script>
	<script>
		var getAccountInfoUrl = "{:U('Home/Account/getAccountInfo')}";
		var uploadCardUrl = "{:U('Home/Payment/uploadCard')}";
		var saveCardUrl = "{:U('Home/Account/saveCard')}";
		var accountIndexUrl = "{:U('Home/Account/index')}";
		var getCardList = "{:U('Home/Account/ajaxForPage')}";
		var delCardUrl = "{:U('Home/Account/delCard')}";
		$(function(){
			highlight_subnav("{:U('Home/Account/index')}");
			Account.init();
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">我的账户</h2>
			<div class="content">
				<div class="dl-in">
					<dl class="dl-horizontal">
					  <dt>帐号:</dt>
					  <dd>{:session('uname')}</dd>
					  <dt>杠杆:</dt>
					  <dd id="ganggan">1：100</dd>
					  <dt>资产:</dt>
					  <dd>余额：$8,286.44净值：$8,286.44保证金：$0.00可用保证金：$8,286.44</dd>
					  <dt>开户日期:</dt>
					  <dd>2015-10-23</dd>
					  <dt>推广链接:</dt>
					  <dd>http://manage.briskliquidity.nz/apply/real.html?agent=600777</dd>
					</dl>
					<dl class="dl-horizontal">
					  <dt>姓名:</dt>
					  <dd>asfdasdfa asdfasdf</dd>
					  <dt>同名账户:</dt>
					  <dd>1 个</dd>
					  <dt>手机:</dt>
					  <dd>2342423</dd>
					  <dt>电邮:</dt>
					  <dd>asdfasdf@qq.com</dd>
					</dl>
				</div>
				
				<div class="x-color-panel x-balance-panel">
					<label>资产</label>
					<div>
						<span>余额</span><strong field="memberBalance">$8,286.44</strong>
					</div>
					<div>
						<span>净值</span><strong field="memberEquity">$8,286.44</strong>
					</div>
					<div>
						<span>保证金</span><strong field="memberMargin">$0.00</strong>
					</div>
					<div>
						<span>可用保证金</span><strong field="memberMarginfree">$8,286.44</strong>
					</div>
				</div>
				<div style="clear: both;"></div>
				<h3 class="bankinfo-title">银行卡资料
					<button type="button" class="btn btn-warning " id="addCard" style="margin:auto auto 10px 85%;">
						<span class="glyphicon glyphicon-plus-sign"></span>添加
					</button>
				</h3>
				<div name="myBankList">
					<div class="x-grid-panel">
						<table name="table" class="x-grid">
							<thead>
								<tr>
									<th class="x-grid-column w24">发卡银行</th>
									<th class="x-grid-column">银行户名-帐号</th>
									<th class="x-grid-column w15 x-text-center">操作</th>
								</tr>
							</thead>
							<tbody id="card-list">
								
							</tbody>
						</table>
					</div>
					<nav id="pagehtml"></nav>
				</div>
			</div>
		</div>		
	</div>

</body>
</html>