<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/total')}");
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">账户统计</h2>
			<div class="content">
				<div class="dl-in">
					<dl class="dl-horizontal">
					  <dt>入金:</dt>
					  <dd>$10,010.002 笔</dd>
					  <dt>信用:</dt>
					  <dd>$0.000 笔</dd>
					  <dt>出金:</dt>
					  <dd>$0.000 笔</dd>
					  <dt></dt>
					  <dd>$10,010.00</dd>
					</dl>
					<dl class="dl-horizontal">
					  <dt>交易:</dt>
					  <dd>$-2,830.492   5 笔 | 24.10 手</dd>
					  <dt>佣金:</dt>
					  <dd>$-53.00</dd>
					  <dt>税金:</dt>
					  <dd>$0.00</dd>
					  <dt>利息:</dt>
					  <dd>$-94.96</dd>
					  <dt></dt>
					  <dd>$-2,978.45</dd>
					</dl>
				</div>
				
				<div class="x-color-panel x-balance-panel">
					<label>资产</label>
					<div>
						<span>余额</span><strong field="memberBalance">$8,286.44</strong>
					</div>
					<div>
						<span>净值</span><strong field="memberEquity">$8,286.44</strong>
					</div>
					<div>
						<span>保证金</span><strong field="memberMargin">$0.00</strong>
					</div>
					<div>
						<span>可用保证金</span><strong field="memberMarginfree">$8,286.44</strong>
					</div>
				</div>
			</div>
			
			
		</div>		
	</div>

		
</body>
</html>