<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
<script src="__JS__/trade_index.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
	<script>
		var getTotalAccountInfoUrl = "{:U('Home/Account/getAccountInfo')}";
		var ydata = [];
		$(function(){
			highlight_subnav("{:U('Home/Account/total')}");//导航高亮	
			
			Trade.init();
			
			//console.log(totaldata);
			
		});
		
    
				
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">账户统计</h2>
			<div class="content">
				<div class="dl-in">
					<table class="table table-striped table-condensed ">
					   <tbody>
					      <tr>
					         <td class="x-text-right info">入金:</td>
					         <td>$10,010.00<span class="x-text-ccc" style="float:right">2 笔</span></td>
					      </tr>
					      <tr>
					         <td class="x-text-right info">信用:</td>
					         <td>$0.00<span class="x-text-ccc" style="float:right">0 笔</span></td>
					      </tr>
					      <tr>
					         <td class="x-text-right info">出金:</td>
					         <td>
								$0.00<span class="x-text-ccc" style="float:right">0 笔</span>
					         </td>
					      </tr>
					      <tr>
					         <td class="x-text-right info"></td>
					         <td class="x-text-bold">$10,010.00</td>
					      </tr>
					   </tbody>
					</table>
					<table class="table table-striped table-condensed ">
					   <tbody>
					      <tr>
					         <td class="x-text-right info">交易:</td>
					         <td>$-2,830.492<span class="x-text-ccc" style="float:right">5 笔 | 24.10 手</span></td>
					      </tr>
					      <tr>
					         <td class="x-text-right info">佣金:</td>
					         <td>$-53.00</td>
					      </tr>
					      <tr>
					         <td class="x-text-right info">税金:</td>
					         <td>$0.00</td>
					      </tr>
					      <tr>
					         <td class="x-text-right info">利息:</td>
					         <td>$-94.96</td>
					      </tr>
					      <tr>
					         <td class="x-text-right info"></td>
					         <td class="x-text-bold">$-2,978.45</td>
					      </tr>
					   </tbody>
					</table>
				</div>
				
				<div class="x-color-panel x-balance-panel">
					<label class="text1">资</label><label class="text2">产</label>
					<div>
						<span>余额</span><strong id="memberBalance"></strong>
					</div>
					<div>
						<span>净值</span><strong id="memberEquity"></strong>
					</div>
					<div>
						<span>保证金</span><strong id="memberMargin"></strong>
					</div>
					<div>
						<span>可用保证金</span><strong id="memberMarginfree"></strong>
					</div>
				</div>
				<div id="container" style="min-width:700px;height:400px"></div>
			</div>
			
			
		</div>		
	</div>

		
</body>
</html>