<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/total')}");//导航高亮
			$('#container').highcharts({ //图标
			        chart: {
			            type: 'line'
			        },
			        title: {
			            text: '余额走势'
			        },
			        subtitle: {
			            text: 'The Last Month Balance Changes'
			        },
			        xAxis: {
			            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
			        },
			        yAxis: {
			            title: {
			                text: '余额 (k)'
			            }
			        },
			        tooltip: {
			            enabled: true,
			            formatter: function() {
			                return '<b>'+ this.series.name +'</b><br/>'+this.x +': '+ this.y +'°C';
			            }
			        },
			        plotOptions: {
			            line: {
			                dataLabels: {
			                    enabled: true
			                },
			                enableMouseTracking: true
			            }
			        },
			        series: [{
			            name: 'Tokyo',
			            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
			        }]
			});
		});
		
    
				
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">账户统计</h2>
			<div class="content">
				<div class="dl-in">
					<dl class="dl-horizontal">
					  <dt>入金:</dt>
					  <dd>$10,010.002 笔</dd>
					  <dt>信用:</dt>
					  <dd>$0.000 笔</dd>
					  <dt>出金:</dt>
					  <dd>$0.000 笔</dd>
					  <dt></dt>
					  <dd>$10,010.00</dd>
					</dl>
					<dl class="dl-horizontal">
					  <dt>交易:</dt>
					  <dd>$-2,830.492   5 笔 | 24.10 手</dd>
					  <dt>佣金:</dt>
					  <dd>$-53.00</dd>
					  <dt>税金:</dt>
					  <dd>$0.00</dd>
					  <dt>利息:</dt>
					  <dd>$-94.96</dd>
					  <dt></dt>
					  <dd>$-2,978.45</dd>
					</dl>
				</div>
				
				<div class="x-color-panel x-balance-panel">
					<label>资产</label>
					<div>
						<span>余额</span><strong field="memberBalance">$8,286.44</strong>
					</div>
					<div>
						<span>净值</span><strong field="memberEquity">$8,286.44</strong>
					</div>
					<div>
						<span>保证金</span><strong field="memberMargin">$0.00</strong>
					</div>
					<div>
						<span>可用保证金</span><strong field="memberMarginfree">$8,286.44</strong>
					</div>
				</div>
				<div id="container" style="min-width:700px;height:400px"></div>
			</div>
			
			
		</div>		
	</div>

		
</body>
</html>