<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
<script src="__STATIC__/layer/laydate/laydate.js"></script>
	<script>
		$(function(){
			highlight_subnav("{:U('Home/Account/traderList')}");
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">交易报表</h2>
			<div class="content">
				<div class="content-in">
					<div class="x-search-panel">
						<form onsubmit="return false;" method="post" name="search" class="x-form">
							<fieldset>
								<input type="hidden" value="accountReport" name="cmd">
								<div class="column"><dl><dt>日期：</dt><dd><input type="text" placeholder="从" class="w30 hasDatepicker" value="2015-11-15" name="startDate" vtype="date" id="startDate"><span class="space">-</span><input type="text" placeholder="到" class="w30 hasDatepicker" value="2015-11-30" name="endDate" vtype="date" id="endDate"></dd></dl>
								</div>
								<div class="column"></div>
								<div class="column">
									<div class="x-submit-panel"><button class="btn btn-success" type="submit">搜 索</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div><!--data-option-->
					<div style="background: #ccc;height: 0.5px;"></div>
					<table class="table table-bordered table-hover">
					  <thead>
					  	<tr class="info">
					  		<th>日期</th>
					  		<th>交易</th>
					  		<th class="x-text-right">佣金</th>
					  		<th class="x-text-right">利息</th>
					  		<th class="x-text-right">成交量</th>
					  		<th>挂单</th>
					  		<th>入金</th>
					  		<th>出金</th>
					  		<th>信用</th>
					  		<th class="x-text-right">净入金</th>
					  	</tr>
					  </thead>
					  <tbody>
					  	<tr>
					  		<td>2015-11-10</td>
					  		<td><span class="x-text-bold">$0.00</span> <span class="x-text-ccc" style="float:right;">0 笔</span></td>
					  		<td class="x-text-right">$0.00</td>
					  		<td class="x-text-right">$0.00</td>
					  		<td class="x-text-right">0.00手</td>
					  		<td><span class="x-text-bold">0手</span><span class="x-text-ccc" style="float:right;">0 笔</span></td>
					  		<td><span class="x-text-bold" style="color:#83AE35">0手</span><span class="x-text-ccc" style="float:right;">0 笔</span></td>
					  		<td><span class="x-text-bold" style="color:#FF5D79">0手</span><span class="x-text-ccc" style="float:right;">0 笔</span></td>
					  		<td><span class="x-text-bold" style="color:#3491FF">0手</span><span class="x-text-ccc" style="float:right;">0 笔</span></td>
					  		<td class="x-text-right"><span class="x-box-label">$0.00</span></td>
					  	</tr>
					  </tbody>
					</table>
				</div><!--content-in-->
			</div><!--content-->	
		</div>		
	</div>
	<script type="text/javascript">
	// layerdata
        laydate.skin('molv');

         //日期范围限制
        var startDate = {
            elem: '#startDate',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
            }
        };
        var endDate = {
            elem: '#endDate',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
            }
        };
        laydate(startDate);
        laydate(endDate);	
	</script>		
</body>
</html>