<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
<script src="__JS__/trade_index.js"></script>
	<script>
		var getOrderInfoUrl = "{:U('Home/Transaction/getTradeInfo')}";
		$(function(){
			highlight_subnav("{:U('Home/Transaction/order')}");
			Trade.getOrderInfo();
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
		<div class="content-body">
			<h2 class="body-title">持仓订单</h2>
			<div class="content">
				<div class="content-in">
					<div style="background: #ccc;height: 0.5px;"></div>
					<table class="table table-bordered table-hover">
					  <thead>
					  	<tr class="info">
					  		<th>NO.</th>
					  		<th>交易类型</th>
					  		<th>交易品种</th>
					  		<th class="x-text-right">成交量</th>
					  		<th>开仓</th>
					  		<th class="x-text-right">现价</th>
					  		<th class="x-text-right">止损/止盈</th>
					  		<th class="x-text-right">盈亏</th>
					
					  	</tr>
					  </thead>
					  <tbody id="orderlist">
					  </tbody>
					</table>
				</div><!--content-in-->
			</div><!--content-->	
		</div>		
	</div>		
</body>
</html>