<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit"/>
	<title>office</title>
	<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/bootstrapv3/css/bootstrap.min.css">
	<script type="text/javascript" src="__STATIC__/bootstrapv3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<link rel="stylesheet" href="__CSS__/main.css">
	<script>
		var loginUrl = "{:U('Home/Public/login')}";
		var logoutUrl = "{:U('Home/Public/logout')}";
	</script>