<div class="leftmenu">
	<ul class="menu">
		<li>
			<a class="menu-title menu-title-current">
				<span class="glyphicon glyphicon-user"></span>
				<span>账户管理</span>
			</a>	 
			<ul class="menu01">
				<li>	
					<h2 class="menu001-sub">常用</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Account/index')}"><span class="glyphicon glyphicon-modal-window"></span>账户信息</a></li>
						<li><a href="{:U('Home/Account/total')}"><span class="glyphicon glyphicon-object-align-horizontal"></span>账户统计</a></li>
						<li><a href="{:U('Home/Account/traderList')}"><span class="glyphicon glyphicon-calendar"></span>交易报表</a></li>
					</ul>
				</li>
				<li>
					<h2 class="menu001-sub">资料更改</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Account/editLeverage')}"><span class="glyphicon glyphicon-edit"></span>更改杠杠</a></li>
						<li><a href="{:U('Home/Account/editMobile')}"><span class="glyphicon glyphicon-phone"></span>更换手机</a></li>
						<li><a href="{:U('Home/Account/editMail')}"><span class="glyphicon glyphicon-envelope"></span>更换电邮</a></li>
					</ul>
				</li>
				<li>
					<h2 class="menu001-sub">安全设置</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Account/editMainPass')}"><span class="glyphicon glyphicon-lock"></span>主密码</a></li>
						<li><a href="{:U('Home/Account/editInvestorPass')}"><span class="glyphicon glyphicon-lock"></span>投资人密码</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="menu">
		<li>
			<a class="menu-title">
				<span class="glyphicon glyphicon-sort"></span>
				<span class="menu1-info">出入金管理</span>
			</a>	 
			<ul class="menu01" style="display:none">
				<li>	
					<h2 class="menu001-sub">入金相关</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Payment/index')}"><span class="glyphicon glyphicon-log-in"></span>账户入金</a></li>
						<li><a href="{:U('Home/Payment/inRecords')}"><span class="glyphicon glyphicon-th"></span>入金记录</a></li>
						<li><a href="{:U('Home/Payment/inTotal')}"><span class="glyphicon glyphicon-list-alt"></span>入金统计</a></li>
					</ul>
				</li>
				<li>
					<h2 class="menu001-sub">出金相关</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Payment/outPayment')}"><span class="glyphicon glyphicon-log-out"></span>账户出金</a></li>
						<li><a href="{:U('Home/Payment/outRecords')}"><span class="glyphicon glyphicon-th"></span>出金记录</a></li>
						<li><a href="{:U('Home/Payment/outTotal')}"><span class="glyphicon glyphicon-list-alt"></span>出金统计</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="menu">
		<li>
			<a class="menu-title">
				<span class="glyphicon glyphicon-time"></span>
				<span class="menu1-info">交易管理</span>
			</a>	 
			<ul class="menu01" style="display:none">
				<li>
					<h2 class="menu001-sub">当前持仓</h2>	
					<ul class="menu001">
						<li><a href="{:U('Home/Transaction/index')}"><span class="glyphicon glyphicon-plus-sign"></span>全部</a></li>
						<li><a href="{:U('Home/Transaction/order')}"><span class="glyphicon glyphicon-th-list"></span>订单</a></li>
						<li><a href="{:U('Home/Transaction/pending')}"><span class="glyphicon glyphicon-arrow-down"></span>挂单</a></li>
					</ul>
				</li>
				<li>
					<h2 class="menu001-sub">历史交易</h2>
					<ul class="menu001">
						<li><a href="{:U('Home/Transaction/historyOrder')}"><span class="glyphicon glyphicon-minus-sign"></span>订单</a></li>
						<li><a href="{:U('Home/Transaction/outAndInRecords')}"><span class="glyphicon glyphicon-th-list"></span>出入金</a></li>
						<li><a href="{:U('Home/Transaction/historyPending')}"><span class="glyphicon glyphicon-arrow-up"></span>挂单</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>