<include file="Public:header" />
	<link rel="stylesheet" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
	
		<div class="content-body">
			<h2 class="body-title">首页</h2>
			<div class="content">
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">账户信息</div>
						<div class="counter-side-header-h3">Account Information</div>		
					</div>
					<div class="counter-side-text">
						<p>
							<strong>ID:900020</strong><br>
							<span style="color: #3aae01 !important;">韦传统 Wei Chuantong</span>
						</p>
					</div>
					<div class="counter-side-list">
						<p><span>余额</span><strong class="text-success">$7,709.82</strong></p>
						<p><span>净值</span><strong class="text-danger">$2,326.76</strong></p>
						<p><span>保证金</span><strong>$2,161.67</strong></p>
						<p><span>可用保证金</span><strong class="text-primary">$165.09</strong></p>
					</div>
				</div>
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">账户信息</div>
						<div class="counter-side-header-h3">Account Information</div>		
					</div>
					<div class="counter-side-text">
						<p data-qtip="">
							交易 <strong>27</strong> 笔　<strong>25.60</strong> 手　挂单 <strong>0</strong> 笔<br>
							交易盈亏 <strong style="color: #ff5d5b !important;">$-2,300.18</strong>
						</p>
					</div>
					<div class="counter-side-list">
						<p><span>入金</span><strong>$7,709.82</strong><em>2 笔</em></p>
						<p><span>出金</span><strong>$2,326.76</strong><em>0 笔</em></p>
						<p><span>信用</span><strong>$2,161.67</strong><em>0 笔</em></p>
						<p><span>交易</span><strong>$165.09</strong><em>27 笔</em></p>
					</div>
					<div class="counter-side-text">
						<p data-qtip="">
							Last Update<br>
							2015-11-27 12:03:24
						</p>
					</div>
				</div>
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">当前持仓</div>
						<div class="counter-side-header-h3">Orders Positions</div>
					</div>
					<div class="counter-side-text">
						<p data-qtip="交易：$0.00<br>佣金：$0.00<br/>税金：$0.00<br/>利息：$0.00">
							交易中 <strong>0</strong> 笔　<strong>0.00</strong> 手　盈亏 <strong style="color:#ff5d5b !important;">$0.00</strong><br>
							全部持仓订单请点击按钮后查看
						</p>
					</div>
					<div class="counter-side-list">
						<p><span>XAUUSD.stp</span><strong style="color: #ff5d5b !important;">$7,709.82</strong><em>1068.46000</em></p>
						<p><span>XAUUSD.stp</span><strong style="color: #ff5d5b !important;">$2,326.76</strong><em>1068.46000</em></p>
						
					</div>
				</div><!--counter-side-->
				<div class="counter-bottom">
					<div class="counter-bottom-left">
						<h2>TC 技术分析</h2>
						<ul>
							<li><a href="">新西兰元/美元 当日内: 看涨。</a><span>2015-11-27 16:26:29</span></li>
							<li><a href="">新西兰元/美元 当日内: 看涨。</a><span>2015-11-27 16:26:29</span></li>
							<li><a href="">新西兰元/美元 当日内: 看涨。</a><span>2015-11-27 16:26:29</span></li>
						</ul>
					</div>
					<div class="counter-bottom-right">
						<h2>盈亏监控</h2>
						<div class="counter-money">
							<span>
								<strong>持仓订单</strong><br>
								交易笔数：2 笔　4.00 手<br>
								更新时间：aN:aN:aN
							</span>
							<label>
								盈亏：$-5,235.06
							</label>
						</div>
					</div>
				</div>
			</div><!--content-->
		</div>		
	</div>

		
</body>
</html>
