<include file="Public:header" />
	<link rel="stylesheet" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/account_info.css">
	<script type="text/javascript" src="__STATIC__/echarts/build/dist/echarts.js"></script>
	<script src="__JS__/index_index.js"></script>
	<script>
		var getAccountInfoUrl = "{:U('Home/Account/getAccountInfo')}";
		var getTradeInfoUrl = "{:U('Home/Transaction/getTradeInfo')}";
		var echartUrl = "__STATIC__/echarts/build/dist"
		$(function(){
			Index.init();
		})
	</script>	
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
	
		<div class="content-body" style="height:980px;">
			<h2 class="body-title">首页</h2>
			<div class="content">
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">账户信息</div>
						<div class="counter-side-header-h3">Account Information</div>		
					</div>
					<div class="counter-side-text">
						<p>
							<strong>ID:{:session('uid')}</strong><br>
							<span style="color: #3aae01 !important;">{:session('uname')}</span>
						</p>
					</div>
					<div class="counter-side-list">
						<p><span>余额</span><strong class="text-success" id="balance"></strong></p>
						<p><span>净值</span><strong class="text-danger" id="equity"></strong></p>
						<p><span>保证金</span><strong id="margin"></strong></p>
						<p><span>可用保证金</span><strong class="text-primary" id="margin_free"></strong></p>
					</div>
				</div>
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">历史交易</div>
						<div class="counter-side-header-h3">Historical Trading</div>		
					</div>
					<div class="counter-side-text">
						<p data-qtip="">
							交易 <strong>{$arr['orderCount']}</strong> 笔　<strong>{$arr['hand']}</strong> 手　挂单 <strong>0</strong> 笔<br>
							交易盈亏 <strong style="color: #ff5d5b !important;">${$arr['profit']}</strong>
						</p>
					</div>
					<div class="counter-side-list">
						<p><span>入金</span><strong>$7,709.82</strong><em>2 笔</em></p>
						<p><span>出金</span><strong>$2,326.76</strong><em>0 笔</em></p>
						<p><span>信用</span><strong>$2,161.67</strong><em>0 笔</em></p>
						<p><span>交易</span><strong>$165.09</strong><em>27 笔</em></p>
					</div>
					<div class="counter-side-text">
						<p data-qtip="">
							Last Update<br>
							{$Think.now}
						</p>
					</div>
				</div>
				<div class="counter-side">
					<div class="counter-side-header">
						<div class="counter-side-header-h2">当前持仓</div>
						<div class="counter-side-header-h3">Orders Positions</div>
					</div>
					<div class="counter-side-text">
						<p data-qtip="交易：$0.00<br>佣金：$0.00<br/>税金：$0.00<br/>利息：$0.00">
							交易中 <strong class="nowCount"></strong> 笔　<strong class="nowHand"></strong> 手　盈亏 <strong class="nowProfit" style="color:#ff5d5b !important;"></strong><br>
							全部持仓订单请点击按钮后查看
						</p>
					</div>
					<div class="counter-side-list" id="nowOrder"></div>
				</div><!--counter-side-->
				<div class="counter-bottom">
					<div class="counter-bottom-left">
						<h2>TC 技术分析</h2>
						<ul id="tcHomeList"></ul>
					</div>
					<div class="counter-bottom-right">
						<h2>盈亏监控</h2>
						<div class="counter-money">
							<span>
								<strong>持仓订单</strong><br>
								交易笔数：<span class="nowCount"></span> 笔　<span class="nowHand"></span>手<br>
								更新时间：<span id="updateTime"></span>
							</span>
							<label>
								盈亏：<span class="nowProfit"></span>
							</label>
						</div>
						<div id="main" style="height:300px;"></div>
					</div>
				</div>
			</div><!--content-->
		</div>		
	</div>

		
</body>
</html>
