<include file="Public:header" />
	<script> 
		$(function(){
			highlight_subnav("{:U('Manage/Business/checkWithdrawal')}");
			$('.bankicon span').bind('click',function(){
				var url = $(this).attr('url');
				layer.open({
				    type: 1,
				    title : false,
				    skin: 'layui-layer-demo', //样式类名
				    closeBtn: 0, //不显示关闭按钮
				    shift: 1,
				    area: ['505px', '320px'],
				    shadeClose: true, //开启遮罩关闭
				    content: '<img src="'+url+'">'
				});
			});
			$('.backCheck').bind('click',function(){
				var $self = $(this).parent();
				var cid = $self.attr('cid');
				layer.prompt({title: '审核不过原因', formType: 2}, function(text){
					ajaxReturn("{:U('Manage/Business/recordReason')}",
						{reason:text,id:cid},function(){
						layer.msg('提交中...');
					},function(res){
						layer.closeAll();
						if(res.status){
							$self.prev().empty().append('<span style="padding:5px 10px" class="label label-danger">'+text+'</span>');
							$self.prev().prev().empty().append(res.info);
						}else{
							layer.alert(res.info)
						}
					})
			        
			    });
			})
		})

		function payEvent(id,bankCode,money){
	        form = $("<form></form>")
	        form.attr('action',"{:U('Manage/Business/pay')}")
	        form.attr('method','post')
	        input1 = $("<input type='hidden' name='Bank_Code' value='"+bankCode+"'/>")
	        input2 = $("<input type='hidden' name='Amount' value='"+money+"' />")
	        input3 = $("<input type='hidden' name='id' value='"+id+"' />")
	        form.append(input1)
	        form.append(input2)
	        form.append(input3)
	        form.appendTo("body")
	        form.css('display','none')
	        form.submit()

			// var $form = $('<form action="{:U('Manage/Business/pay')}" method="post"></form>');
			// $form.append('<input name="bankCode" value="'+bankCode+'" type="hidden">');
			// $form.append('<input name="Amount" value="'+money+'" type="hidden">');
			// $form.appendTo($(document));
			// $('form').submit();
		}
	</script>
</head>
<body>
	<include file="Public:menu" />
	<div class="mainbody">
		<include file="Public:leftmenu" />
	
		<div class="content-body">
			<h2 class="body-title">出金审核</h2>
			<div class="col-lg-12">
				<table class="table table-hover">
				  <thead>
				  	<tr>
				  		<th>申请人</th>
				  		<th>出金银行</th>
				  		<th>币种</th>
				  		<th>出金银行:账户-账号</th>
				  		<th>出金银行卡</th>
				  		<th>申请时间</th>
				  		<th>出金金额</th>
				  		<th>实付金额</th>
				  		<th>审核时间</th>
				  		<th>审核不过原因</th>
				  		<th>操作</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<volist name="list" id="vo">
					  	<tr>
					  		<td>{$vo.account}</td>
					  		<td>{$vo.bankname}</td>
					  		<td>{$vo.type}</td>
					  		<td>{$vo.bankaccount}</td>
					  		<td class="bankicon"><span url="{$vo.cardpositiveurl|ltrim=###,"."}" style="cursor:pointer;" class="label label-default">正面</span>&nbsp;&nbsp;<span url="{$vo.cardnegativeurl|ltrim=###,"."}" style="cursor:pointer;" class="label label-default">反面</span></td>
					  		<td>{$vo.applytime}</td>
					  		<td>${$vo.money}</td>
					  		<td>￥{$vo.reminbi}</td>
					  		<td>
					  			<if condition="$vo['checktime'] neq ''">
					  			{$vo.checktime}
					  			<else/>
								<span style="padding:5px 10px" class="label label-danger">未审核</span>
					  			</if>
					  			
					  		</td>
					  		<td>
					  			<if condition="$vo['status'] eq 0">
					  				<span style="padding:5px 10px" class="label label-danger">{$vo.reason}</span>
					  			</if>
					  		</td>
					  		<td cid="{$vo.id}">
					  			<if condition="$vo['status'] eq 1">
					  			<span style="padding:5px 10px" class="label label-success">已完成</span>
					  			<else/>
								<button class="btn btn-info btn-sm radius backCheck">批回</button>
								<button onclick="payEvent('{$vo.id}','{$vo.bankCode}','{$vo.money}')" class="btn btn-success btn-sm radius">审核并打款</button>
					  			</if>
					  		</td>
					  	</tr>
					</volist>
				  </tbody>
				</table>
				{$page}
			</div>
		</div>		
	</div>

		
</body>
</html>
