.ICBC {
    background-position: 0 -700px !important;
}
.ABC {
    background-position: 0 0 !important;
}
.CMB {
    background-position: 0 -308px !important;
}
.CIB {
    background-position: 0 -252px !important;
}
.CITIC {
    background-position: 0 -280px !important;
}
.CCB {
    background-position: 0 -196px !important;
}
.BOC {
    background-position: 0 -56px !important;
}
.COMM {
    background-position: 0 -364px !important;
}
.SPDB {
    background-position: 0 -1008px !important;
}
.CMBC {
    background-position: 0 -336px !important;
}
.HXBANK {
    background-position: 0 -644px !important;
}
.CEB {
    background-position: 0 -224px !important;
}
.BJBANK {
    background-position: 0 -28px !important;
}
.GDB {
    background-position: 0 -476px !important;
}
.PSBC {
    background-position: 0 -840px !important;
}
.SPABANK {
    background-position: 0 -980px !important;
}
#panl-two dl dd{
    margin-bottom: 20px;
}
#panl-two dl dd .type-current i {
    background: url("../Images/x-icon.png") no-repeat scroll -21px -300px;
    display: block;
    height: 19px;
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
}
#panl-two dl dd .money-type{
    display: block;
    cursor: pointer;
    float: left;
    width: 145px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #B0C2E1;
    position: relative;
    margin : 0 10px 0 0;
    color: #666695;
}
#panl-two dl dd .type-current{
    color: red;
    border: 1px solid red;
}
#panl-two dl dd .money-type .icon{
    display: block;
    position: absolute;
    top: 7px;
    left: 40px;

}
#panl-two dl dd .money-type .type-icon{
    display: block;
    position: absolute;
    top: 5px;
    left: 55px;
}
#panl-two dl dd .bankcard .card-box{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 320px;
    height: 223px;
    margin-bottom: 10px;
}
#panl-two dl dd .bankcard .zheng{
    background: url('../Images/zheng.png') no-repeat center center;
}
#panl-two dl dd .bankcard .fan{
    background: url('../Images/fan.png') no-repeat center center;
}
#panl-two dl dd .bankcard .card-box .card-type{
    margin: 5px;
    color:#ccc;
}
#panl-two dl dd .bankcard .card-box h3{
    text-align: center;
    color:#666;
}
#panl-two dl dd .bankcard .suchas{
    padding: 2px 10px;
    background: #ccc;
    color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.content-body .content {
    width: 100%;
    padding:0 10px;
    float: left;
    /*overflow-y:auto;*/
}
/*主页*/
.content-body .content .counter-side{
    width: 31.6%;
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 30px 0 0 0;
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.content-body .content .counter-side .counter-side-header{
    background: #494949 linear-gradient(#494949 0px, #3e3e3e 100%) repeat scroll 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 20px 0;
}
.content-body .content .counter-side .counter-side-header .counter-side-header-h2{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25);
}
.content-body .content .counter-side .counter-side-header .counter-side-header-h3{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25);
}
.content-body .content .counter-side .counter-side-text{
    border-bottom: 1px solid #ddd;
    color: #888;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 30px 0;
    /*padding: 0 10px 10px;*/
    text-align: left;
}
.content-body .content .counter-side .counter-side-text strong{
    color: #3d3d3d;
}
.content-body .content .counter-side .counter-side-list{
    border-bottom: 1px solid #ddd;
    color: #888;
    font-size: 16px;
    /*line-height: 30px;*/
    margin: 15px 30px 0;
    padding: 0 10px 15px;
    text-align: left;
}
.content-body .content .counter-side .counter-side-list p span{
    min-width: 30%;
}
.content-body .content .counter-side .counter-side-list p strong{
    min-width: 35%;
    display: inline-block;
}
.content-body .content .counter-side:nth-child(2n){
    width: 32%;
    margin: 0 2%;
    min-height: 460px;
}
.content-body .content .counter-side:nth-child(2n) .counter-side-header{
    background: #5abfff linear-gradient(#5abfff 0px, #2a95d9 100%) repeat scroll 0 0;
}
.content-body .content .counter-bottom .counter-bottom-left{
    width: 49%;
    float: left;
}
.content-body .content .counter-bottom .counter-bottom-left h2{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #b3cfee;
    border-image: none;
    border-style: none none double;
    border-width: 0 0 3px;
}
.content-body .content .counter-bottom .counter-bottom-left ul li{
    /*background: rgba(0, 0, 0, 0) url("images/dotline.gif") repeat-x scroll left bottom;*/
    border-bottom: 1px dotted #CCCCCC;
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 0;
    text-indent: 14px;
    position: relative;
    width: 100%;
}
.content-body .content .counter-bottom .counter-bottom-left ul li a{
    background: rgba(0, 0, 0, 0) url("../Images/arrow_grey.gif") no-repeat scroll left center;
    display: block;
    height: 26px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
    word-break: keep-all; 
}
    
.content-body .content .counter-bottom .counter-bottom-left ul li span{
    color: #888;
    font-family: Tahoma,Arial;
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 0;
}
.content-body .content .counter-bottom .counter-bottom-right{
    width: 49%;
    float: right;
}
.content-body .content .counter-bottom .counter-bottom-right h2{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #b3cfee;
    border-image: none;
    border-style: none none double;
    border-width: 0 0 3px;
}
.content-body .content .counter-bottom .counter-bottom-right .counter-money{
    width: 100%;
    background: #F8F8F8;
    position: relative;
}
.content-body .content .counter-bottom .counter-bottom-right .counter-money span{
    
}
.content-body .content .counter-bottom .counter-bottom-right .counter-money span strong{
    background: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    padding: 3px 10px;
    text-align: center;
    border-color: #ff5d5b;
    color: #ff5d5b;
    display: inline-block;
}
.content-body .content .counter-bottom .counter-bottom-right .counter-money label{
    background: #feed6f;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #c7c7c7;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 130%;
    padding: 6px 15px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.content-body .content .dl-in{
    float: left;
    width: 60%;
}
.content-body .content .dl-in table tbody tr td:first-child{
    width: 25%;
}
.content-body .content .dl-in table tbody tr td{
    padding: 10px;
}
.x-color-panel::after{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15);
    content: "";
    display: block;
    height: 100%;
    left: 100px;
    position: absolute;
    top: 0;
}
.x-balance-panel {
    /*position: absolute;
    right: 20px;
    top: 14px;*/
    float: left;
    width: 35%;
    margin-top: 1%;
    margin-left: 2%;
}
.x-color-panel {
    background-color: #49a7f6;
    border-radius: 5px;
    padding: 5px 0px 5px 100px;
    position: relative;
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 0 rgba(0,0,0,.88);
}
.x-color-panel > label {
    display: block;
    color: rgba(255,255,255,1);
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    height: 60px;
    width: 200px;
    margin: -30px 0 0 -70px;
    font-size: 350%;
    text-overflow: ellipsis;
    transform: rotate(270deg);
}
.x-color-panel > div {
    display: block;
    text-align: left;
    padding: 15px;
    vertical-align: middle;
    border-bottom: 1px rgba(0,0,0,.15) solid;
    box-shadow: 0px 1px 0 rgba(255,255,255,.15);
}
.x-color-panel > div span {
    display: block;
    color: yellow;
    line-height: 100%;
    margin-bottom: 10px;
}
.x-color-panel > div:last-child {
    border-bottom: 0;
    box-shadow: none;
}
.bankinfo-title{
    width: 100%;
    line-height: 150%;
    font-weight: normal;
    color: #222;
    border-bottom: 3px #b3cfee double;
}

.x-grid {
    background-color: #fff;
    border-collapse: collapse;
    color: #333;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}
.x-grid thead {
    border-bottom: 2px solid #5ab5f5;
    border-top: 2px solid #5ab5f5;
}
.x-grid th {
    background-color: #dce9f9;
    background-image: -moz-linear-gradient(center top , #ebf3fc, #dce9f9);
    border: 1px solid #dedede;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color: #0a6aac;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 5px;
    text-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.25);
}
.w24 {
    width: 24% !important;
}
.x-grid td {
    border: 1px solid #dedede;
    line-height: 1.2;
    padding: 10px 8px;
    vertical-align: middle;
}
.relative {
    position: relative;
}
.CCB {
    background-position: 0 -196px !important;
}
.bank-icon {
    background: transparent url("../Images/x-bank.png") no-repeat scroll left bottom;
    border-radius: 3px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
    vertical-align: middle;
    width: 126px;
}
.x-grid tr td .x-right {
}
.x-right {
    float: right;
}
.mt5 {
    margin-top: 5px !important;
}
.x-label {
    background-color: #888;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-size: 12px;
    line-height: 1;
    margin-right: 5px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.58);
    vertical-align: baseline;
    white-space: nowrap;
}
a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.x-grid td {
    border: 1px solid #dedede;
    line-height: 1.2;
    padding: 10px 8px;
    vertical-align: middle;
}
.x-font-22 {
    font-size: 22px !important;
}
.x-grid td {
    border: 1px solid #dedede;
    line-height: 1.2;
    padding: 10px 8px;
    vertical-align: middle;
}
.x-font-18 {
    font-size: 18px !important;
}
.x-grid td {
    border: 1px solid #dedede;
    line-height: 1.2;
    padding: 10px 8px;
    vertical-align: middle;
}
.x-text-center {
    text-align: center;
}
.x-button-group::before, .x-button-group::after {
    content: "";
    display: table;
}
.x-button-group::after {
    clear: both;
}
.x-button-group::before, .x-button-group::after {
    content: "";
    display: table;
}
.x-button-group:first-child {
}
.x-button-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.x-button-group .x-button-small:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
}
.x-button-group .x-button:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
}
.x-button-group .x-button {
    border-radius: 0;
    float: left;
    margin-left: -1px;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.x-button:first-child {
    margin-left: 0;
}
.x-button-small {
    border-radius: 3px;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 10px;
}
.x-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #eee, #ddd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.3);
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica Neue,Tahoma,Microsoft YaHei;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0;
    opacity: 1;
    padding: 5px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.75);
    transition: opacity 0.2s linear 0s;
    vertical-align: middle;
}
/*traderlist*/
.content .content-in{
    margin: 0 4px;
    background-color: #FBFDFF;
    padding-top: 25px;

}
.content .content-in .date-option{
    width: 42%;
    margin-left: 7%;

}
/*editLeverage*/
.content .content-l{
    width: 60%;
    margin: 0 auto;
}
.content .content-l > div > div > dl > dt{
    text-align: right;
    line-height: 18px;
    color: #172b5a;
    padding: 9px 5px 7px 0;
    font-size: 13px;
}
.content .content-l > div > div > dl > dd{
    line-height: 18px;
    padding: 9px 5px 7px 0;
}
